function String.new 0
    push constant 3
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    push constant 0
    eq
    not
    if-goto String_1
    push constant 1
    pop argument 0
    goto String_0
label String_1
label String_0
    push constant 0
    pop this 0
    push argument 0
    pop this 1
    push argument 0
    call Array.new 1
    pop this 2
    push pointer 0
    return
function String.dispose 0
    push argument 0
    pop pointer 0
    push this 2
    call Array.dispose 1
    pop temp 0
    push constant 0
    return
function String.length 0
    push argument 0
    pop pointer 0
    push this 0
    return
function String.charAt 0
    push argument 0
    pop pointer 0
    push argument 1
    push this 2
    add
    pop pointer 1
    push that 0
    return
function String.setCharAt 0
    push argument 0
    pop pointer 0
    push argument 1
    push this 2
    add
    push argument 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function String.appendChar 0
    push argument 0
    pop pointer 0
    push this 0
    push this 1
    lt
    not
    if-goto String_3
    push this 0
    push this 2
    add
    push argument 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push this 0
    push constant 1
    add
    pop this 0
    goto String_2
label String_3
label String_2
    push pointer 0
    return
function String.eraseLastChar 0
    push argument 0
    pop pointer 0
    push this 0
    push constant 0
    gt
    not
    if-goto String_5
    push this 0
    push constant 1
    sub
    pop this 0
    goto String_4
label String_5
label String_4
    push constant 0
    return
function String.isDigit 0
    push argument 0
    push constant 48
    lt
    not
    push argument 0
    push constant 57
    gt
    not
    and
    return
function String.charToDigit 0
    push argument 0
    push constant 48
    sub
    return
function String.digitToChar 0
    push argument 0
    push constant 48
    add
    return
function String.setIntHelper 1
    push argument 0
    pop pointer 0
    push argument 1
    push constant 10
    lt
    not
    if-goto String_7
    push pointer 0
    push argument 1
    call String.digitToChar 1
    call String.appendChar 2
    pop temp 0
    goto String_6
label String_7
    push argument 1
    push constant 10
    call Math.divide 2
    pop local 0
    push pointer 0
    push local 0
    call String.setIntHelper 2
    pop temp 0
    push pointer 0
    push argument 1
    push local 0
    push constant 10
    call Math.multiply 2
    sub
    call String.digitToChar 1
    call String.appendChar 2
    pop temp 0
label String_6
    push constant 0
    return
function String.intValue 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
    push this 0
    push constant 0
    gt
    push constant 0
    push this 2
    add
    pop pointer 1
    push that 0
    push constant 45
    eq
    and
    not
    if-goto String_9
    push constant 1
    neg
    pop local 2
    push constant 1
    pop local 1
    goto String_8
label String_9
    push constant 0
    pop local 2
    push constant 0
    pop local 1
label String_8
label String_10
    push local 1
    push this 0
    lt
    push local 1
    push this 2
    add
    pop pointer 1
    push that 0
    call String.isDigit 1
    and
    not
    if-goto String_11
    push local 0
    push constant 10
    call Math.multiply 2
    push local 1
    push this 2
    add
    pop pointer 1
    push that 0
    call String.charToDigit 1
    add
    pop local 0
    push local 1
    push constant 1
    add
    pop local 1
    goto String_10
label String_11
    push local 2
    not
    if-goto String_13
    push local 0
    neg
    return
    goto String_12
label String_13
    push local 0
    return
label String_12
function String.setInt 0
    push argument 0
    pop pointer 0
    push constant 0
    pop this 0
    push argument 1
    push constant 0
    lt
    not
    if-goto String_15
    push argument 1
    neg
    pop argument 1
    push pointer 0
    push constant 45
    call String.appendChar 2
    pop temp 0
    goto String_14
label String_15
label String_14
    push pointer 0
    push argument 1
    call String.setIntHelper 2
    pop temp 0
    push constant 0
    return
function String.newLine 0
    push constant 128
    return
function String.backSpace 0
    push constant 129
    return
function String.doubleQuote 0
    push constant 34
    return